.hidden {
  display: none;
}

#login-aside {
  width: 60vw;
  height: 100vh;
}

#img-container-login {
  width: 100%;
  height: 100%;
  position: relative;
}
#img-overlay-login {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(34% 0, 11% 50%, 33% 100%, 0 100%, 0 44%, 0 0);
  clip-path: polygon(66% 0, 48% 50%, 66% 100%, 0 100%, 0 44%, 0 0);
}
#img-overlay-login > img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -12vw;
}

#color-overlay-login {
  width: 100%;
  height: 100%;
  background: #c4c4c4;
  opacity: 0.3;
}

#login-h1 {
  font-size: 3.4vw;
  /* font-family: "Night in Tokyo", sans-serif; */
  /* font-family: "Kalam", cursive; */
  font-family: "night_in_tokyoregular";
  background: -webkit-linear-gradient(#000000, #8edbff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#login-main {
  display: flex;
}

#login-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#login-section > h1 {
  justify-self: flex-start;
  bottom: 200px;
  margin-top: 10vh;
  margin-bottom: 15vh;
}

.input-login {
  outline: none;
  border: 0px solid black;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(45deg, #000000, #8edbff);
  border-image-slice: 1;
  width: 25vw;
  padding: 10px;
  font-size: 1.2vw;
}

#login-box-holder {
  display: flex;
  flex-direction: column;
}

.form-row-login {
  margin-top: 5%;
}

.button-login {
  background: linear-gradient(to right, #506c6d 0%, #8edbff 100%);
  width: 10vw;
  outline: none;
  border: 0px solid transparent;
  height: 5vh;
  border-radius: 20px;
  color: white;
  font-size: 1.2vw;
}

#noAccount {
  margin-left: 5%;
  width: 10vw;
  background: #fff;

  border: double 1px transparent;
  border-radius: 30px;
  background-image: linear-gradient(white, white),
    linear-gradient(45deg, #000000, #8edbff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  color: #848484;
}

#spinnerBackground {
  transition: 2s;
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* background: #ffffff55; */
  background: #8edbff55;
  backdrop-filter: blur(1px);
}

.loading {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid #dddddd;
  border-image: linear-gradient(45deg, #000000, #8edbff);
  border-image-slice: 01;
  transform: rotate(0.16turn);
  animation: loading 1s ease infinite;
}

@keyframes loading {
  /* Safari support */
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    background-size: 200vw 100vh;
    background-position: top;
    background-repeat: no-repeat;
    margin: 15px;
  }
  body > * {
    z-index: 10;
    position: relative;
  }
  body::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #aaa;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: 0;
  }

  #login-main {
    width: 100%;
    height: 96vh;
    background-color: white;
    flex-direction: column;
    border-radius: 25px;
  }

  #login-aside {
    display: none;
  }

  #Login-section {
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  #login-h1 {
    font-size: 15vw;
    margin: 0px;
    text-align: center;
  }

  #pfpContainer2 {
    transform: translate(3%, -80%);
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #login-box-holder {
    justify-content: center;
    align-items: center;
  }

  .input-login {
    width: 60vw;
    font-size: 5vw;
    border-bottom: 2px solid #6c8692;
    border-image: none;
    border-image-slice: 0;
  }

  #pass {
    font-size: 5vw;
    margin-bottom: 10%;
  }

  #form-buttons-login {
    display: flex;
    flex-direction: column;
    width: 55vw;
    height: 13vh;
    justify-content: space-around;
    align-items: center;
  }
  #login {
    width: 55vw;
    font-size: 5vw;
  }
  #noAccount {
    width: 35vw;
    font-size: 5vw;
  }

  #passHelp {
    font-size: 5vw;
  }

  #spinnerBackground {
    z-index: 100;
  }
  .loading {
    z-index: 100;
  }
  .loading::after {
    z-index: 100;
  }
  #modal {
    z-index: 100;
  }
}
