body {
  overflow-y: hidden;
}

.hidden {
  display: none;
}

#payment-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  padding: 5vh;
  overflow-y: hidden;
}

#payment-header > h1 {
  font-size: 3.4vw;
  /* font-family: "Night in Tokyo", sans-serif; */
  /* font-family: "Kalam", cursive; */
  font-family: "night_in_tokyoregular";
  background: -webkit-linear-gradient(#000000, #8edbff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#card-holder {
  width: 73vw;
  height: 45vh;
  display: flex;
  justify-content: space-around;
}

#credit-card {
  width: 29vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3vh;
  background: -webkit-linear-gradient(left, #506c6d, #8edbff);
  border-radius: 20px;
  color: white;
  height: 35vh;
}

#chip > img {
  width: 5vw;
  height: 8vh;
}

#numbers {
  font-size: 2.5vw;
  display: flex;
  justify-content: space-around;
}

#info {
  display: flex;
  justify-content: space-between;
}

#form-holder {
  width: 43%;
}

#data-inputs {
  display: flex;
  flex-direction: column;
}

.input-card {
  outline: none;
  border: 0px solid black;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(45deg, #000000, #8edbff);
  border-image-slice: 1;
  width: 30vw;
  padding: 10px;
  font-size: 1.2vw;
}

.input-texts {
  display: flex;
  justify-content: space-between;
  /* padding-right: 285px; */
  padding-right: 15.15vw;
}

.input-texts p:last-child {
  /* margin-left: 9.57vw; */
}

.inputs-place {
  display: flex;
  justify-content: space-between;
}

.sinput {
  width: 16vw;
}

.form-row {
  margin-top: 6vh;
}

#data-inputs .form-row:first-child {
  margin-top: 0vh;
}

.button {
  background: linear-gradient(to right, #506c6d 0%, #8edbff 100%);
  width: 15vw;
  outline: none;
  border: 0px solid transparent;
  height: 5vh;
  border-radius: 20px;
  color: white;
  font-size: 1.2vw;
  margin-bottom: 10%;
}

#modal {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* background: #ffffff55; */
  background: #8edbff55;
  backdrop-filter: blur(4px);
}

#modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 70vh;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 10px 3px;
  box-shadow: 2px 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#x-holder {
  height: 50%;
  width: 100%;
  background: linear-gradient(to bottom, #506c6d 0%, #ff8e8e 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#x-holder > img {
  height: 70%;
}

#message-holder {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background: #fff;
}

#message-holder > p {
  font-weight: bold;
}

.card-valid-inp {
  outline: none;
  border: 0px solid black;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(45deg, #000000, #8edbff);
  border-image-slice: 1;
  /* width: 30vw; */
  padding: 10px;
  font-size: 1.2vw;
}

#spinnerBackground {
  transition: 2s;
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* background: #ffffff55; */
  background: #8edbff55;
  backdrop-filter: blur(1px);
}

.loading {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid #dddddd;
  border-image: linear-gradient(45deg, #000000, #8edbff);
  border-image-slice: 01;
  transform: rotate(0.16turn);
  animation: loading 1s ease infinite;
}

@keyframes loading {
  /* Safari support */
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    background-size: 200vw 100vh;
    background-position: top;
    background-repeat: no-repeat;
    margin: 15px;
  }
  body > * {
    z-index: 10;
    position: relative;
  }

  body::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #aaa;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: 0;
  }

  #payment-body {
    /* width: 100%; */
    height: 86.5vh;
    background-color: white;
    /* flex-direction: column; */
    border-radius: 25px;
  }

  #payment-header > h1 {
    font-size: 8vw;
  }

  #card-holder {
    flex-direction: column;
  }
  #credit-card-holder {
  }
  #credit-card {
    width: 60vw;
    height: 20vh;
    margin-top: 15vh;
    margin-bottom: 5vh;
  }
  #chip > img {
    width: 15vw;
    height: 7vh;
  }
  .num {
    font-size: 5.5vw;
  }
  #info {
    font-size: 3.5vw;
  }
  #form-holder {
  }
  #data-inputs {
    width: 70vw;
  }
  .input-card {
    width: 65vw;
    font-size: 3.5vw;
    border-bottom: 2px solid #6c8692;
    border-image: none;
    border-image-slice: 0;
  }
  .form-row {
    margin: 0;
    margin-top: 3.5vh;
  }
  #valid-row {
    display: flex;
    flex-direction: column;
  }
  .expiration {
    display: flex;
  }

  #cvv {
    margin-right: 100%;
    margin-left: 10%;
    width: 28vw;
  }

  .card-valid-inp {
    font-size: 3.5vw;
  }

  #button-holder {
    margin-top: 15vh;
  }

  #button-holder > button {
    width: 50vw;
    transform: translate(-2.5%);
    font-size: 5vw;
  }
}
